<ion-view view-title="{{::title}}" id="category-list">
    <ion-content>
        <ion-refresher
            pulling-text="Pull to refresh..."
            on-refresh="doRefresh()">
        </ion-refresher>
        <div>
            <img id="categoryLogo" src="./img/logo.png" class="center" align="middle">
            <div class="card feed" ng-repeat="item in articlelist"
                 ui-sref="app.feedView({'feedIndex':$index})"
                 >
                <h2>{{::item.Title}}</h2>
                <div
                    ng-style="{'background-image':'url({{::item.PortraitAvatar|| item.LandscapeAvatar}})'}"
                    class="thumbnail-image"
                    >

                </div>
            </div>
        </div>
        <ion-infinite-scroll
            on-infinite="loadMore()"
            distance="1%">
        </ion-infinite-scroll>
    </ion-content>
</ion-view>
