<ion-view view-title="{{::title}}" id="category-list">
    <ion-content delegate-handle="categoryList">

        <ion-refresher
            pulling-text="Pull to refresh..."
            on-refresh="doRefresh()">
        </ion-refresher>
        <div >
            <div
                ng-style="{'background-image':'/img/logo.png'}"
                class="thumbnail-image"
                >

            </div>
            <div class="list">
                <a class="card feed" ng-repeat="item in articlelist track by $index"
                   ui-sref="app.feedView({'feedIndex':$index})"
                   ng-class="{'read':model.unReadList[item.ContentID]}"
                   abc ='{{model.unReadList}} {{item.ContentID}}'
                   >
                    <h1 class="title">{{::item.Title}}</h1>
                    <div
                        ng-style="::{'background-image':'url({{::item.PortraitAvatar|| item.LandscapeAvatar}})'}"
                        class="thumbnail-image"
                        >

                    </div>
                </a>

            </div>

        </div>
        <ion-infinite-scroll
            on-infinite="loadMore()"
            distance="0%">
        </ion-infinite-scroll>
    </ion-content>
</ion-view>
