<ion-view view-title="Feed">
    <ion-content scroll="false" >

        <!--                                                           ng-if="($index >=(indexOfSelectedFeed -2)) && ($index <= (indexOfSelectedFeed +2))"-->
        <ion-slide-box on-slide-changed="slideHasChanged($index)">

            <ion-slide ng-repeat="feed in articlelist" >
                <feed-view selected-feed ="feed"></feed-view>
            </ion-slide>
            
        </ion-slide-box>

    </ion-content>
</ion-view>
