$white-background-color:#efefef;
$card-height:400px;
body{
  .center{

    margin: 0 auto;
    display: block;
  }
  #categoryLogo{
    width: 100%;
    padding:10px;
  }
  #category-list{
    background-color: $white-background-color;

    .feed{
      &.card{
        padding: 10px;
        display: flex;
        height: $card-height;
        flex-direction: column;
      }
    }
    .thumbnail-image{
      width: 100%;
      /* height: 200px; */
      flex-shrink: inherit;
      flex: 1;
      background-size: cover;

    }

  }
  #feed-view{
    background-color: $white-background-color;
    padding-bottom: 10px;
    font-size: 23px;
    img{
      width: 100%;
    }
    p.body-text{
        text-indent: 30px;
    }

  }

}
