body .center {
  margin: 0 auto;
  display: block; }

body #categoryLogo {
  width: 100%;
  padding: 10px; }

body #category-list {
  background-color: #efefef; }
  body #category-list .feed.card {
    padding: 10px; }
  body #category-list .thumbnail-image {
    width: 100%;
    height: 200px;
    background-size: cover; }

body #feed-view {
  background-color: #efefef;
  padding-bottom: 10px;
  font-size: 23px; }
  body #feed-view img {
    width: 100%; }
  body #feed-view p.body-text {
    text-indent: 30px; }
